<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ECA2_9_SEGUE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2966FCEA1E843B320053AEBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2966FCFE1E843B330053AEBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2966FD091E843B330053AEBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
