<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EV2_7_PICKER_VIEW_IMAGE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2950D8E21E7B06370096A1EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2950D8F61E7B06370096A1EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2950D9011E7B06380096A1EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
